.Home{
margin: 0px 0;
    background-image: url('../components/imagens/—Pngtree—blue\ atmospheric\ background_913348.jpg');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    }