.Menu{
  display: grid;
  justify-items: start;
  align-items: center;
  width: 20vw;
  height: 100vh;
position: absolute;
left: 15px;

}
.DivIcons{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 8vw;
  height: 70vh;
  position: fixed;
  
  border: 1px rgb(255, 255, 255) inset;
  border-radius: 15px 15px 15px 15px;
  box-shadow: inset rgb(78, 78, 77) 1px 1px 1px 1px;
}
.Icon{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

  width: 8vw;
  height: 17vh;
}

.Icon:hover{
  border: 1px rgb(78, 73, 73) inset;
  border-radius: 15px 15px 15px 15px;
  box-shadow:  rgb(78, 78, 77) 1px 1px 1px 1px ;
}
.iconcasa{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 30%;

}
.Title{
  font-size: 0.8rem;
}
